.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.bar {
    width: 12px;
    border-radius: 16px;
    background: linear-gradient(107.52deg,
            #BCE8FF 3.56%,
            rgba(218, 244, 255, 0.94) 50.39%,
            rgba(191, 216, 255, 0.895) 79.14%,
            rgba(164, 188, 255, 0.85) 100%);
    opacity: 0;
    animation: fadeAnim 2.5s infinite;
}

.bar:nth-child(1) {
    animation-delay: 0s;
    height: 15px;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
    height: 49px;
}

.bar:nth-child(3),
.bar:nth-child(4) {
    animation-delay: 0.4s;
}

.bar:nth-child(5),
.bar:nth-child(6) {
    animation-delay: 0.6s;
}

.bar:nth-child(7),
.bar:nth-child(8),
.bar:nth-child(9) {
    animation-delay: 0.8s;
}

.bar:nth-child(3) {
    height: 89px;
}

.bar:nth-child(4) {
    height: 33px;
}

.bar:nth-child(5) {
    height: 49px;
}

.bar:nth-child(6) {
    height: 85px;
}

.bar:nth-child(7) {
    height: 81px;
}

.bar:nth-child(8) {
    height: 29px;
}

.bar:nth-child(9) {
    height: 15px;
}

@keyframes fadeAnim {
    0% {
        opacity: 0;
        transform: scaleY(0.3);
    }

    20% {
        opacity: 1;
        transform: scaleY(1);
    }

    60% {
        opacity: 1;
        transform: scaleY(1);
    }

    80% {
        opacity: 0;
        transform: scaleY(0.3);
    }

    100% {
        opacity: 0;
        transform: scaleY(0.3);
    }
}