:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background:
      radial-gradient(circle at top left,
        #D6E6F9 0%,
        #FBFAF9 70%) top left / 600px 600px no-repeat,
  
      radial-gradient(circle at bottom right,
        #D6E6F9 0%,
        #FBFAF9 70%) bottom right / 600px 600px no-repeat,
  
      #FBFAF9;
}


